<head>
  <meta charset="UTF-8">
  <title>{{.Site.Title}}: {{.Title}}</title>
  <link rel="stylesheet" href="/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>{{.Site.Title}}: {{.Title}}</h1>
  <ul id="navbar">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
  <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}">
    <a class="pane" href="{{ .URL }}">{{ .Name }}</a>
  </li>
  {{ end }}
</ul>
